URxvt.geometry: 71x22
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.depth: 24
URxvt.internalBorder: 10
URxvt.externalBorder: 0

*foreground: #cbb8af
*background: #010000
*cursorColor: #cbb8af
*.color0: #010000
*.color8: #010000
*.color1: #9b1418
*.color9: #9b1418
*.color2: #d90f1e
*.color10: #d90f1e
*.color3: #995c0e
*.color11: #995c0e
*.color4: #9b6154
*.color12: #9b6154
*.color5: #d8525f
*.color13: #d8525f
*.color6: #c29d2b
*.color14: #c29d2b
*.color7: #cbb8af
*.color15: #cbb8af
*.color66: #010000

rofi.font: monospace bold 10
rofi.bw: 0
rofi.hide-scrollbar: true
rofi.width: 20
rofi.lines: 10
rofi.location: 2
rofi.padding: 10
rofi.color-window: #02050f, #02050f, #02050f
rofi.color-normal: #02050f, #ccdcf3, #02050f, #02050f, #388add
